* {
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url("images/body-bg.jpg"); 
	 
}

header {
	width:97,2%;
	height:112px;
	padding: 20px 20px 0px; 
	background-color:#FFF;
	z-index:1;
	
}

.left-side{
	float: left; 
	margin-left: 35px; 
}

#logo h1 {
	font-size: 33px;
	color: #ff0000;
	font-weight: bold;
}

#slogan p {
	color: #787878; 
	font-size: 18px; 
}


.right-side{
	text-align: right;
	padding: 10px 20px 35px 0;
}

.right-side a{
	text-decoration: none; 
	color: #787878;	
	}
	

.search a {
	padding: 0 5px 0 5px;
	font-size: 11px;
}

.search li {
	display:inline-block;
}



.nav a{
	padding: 0px 9px 0 9px; 
	font-size: 18px;
}

.nav a:last-child{padding-right: 0}

.position {
	color: #303132;
	font-weight: 700;
	}